http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X000000001160J&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2024-05-31","data":[{"name":"astora
        (Germany)","code":"21X000000001160J","publication_link":"http:\/\/www.astora.de","transparency_template":"https:\/\/www.astora.de\/en\/transparency-template","url":"21X000000001160J\/DE","updatedAt":"2022-05-02
        00:00:00","gasDayStart":"2022-05-01","gasInStorage":"1.8757","injection":"56.78","withdrawal":"1.7","netWithdrawal":"-55.1","workingGasVolume":"51.805","injectionCapacity":"512.61","withdrawalCapacity":"739.65","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.11","full":"3.62","info":[]}]}'
  recorded_at: 2025-03-29 19:06:05 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X0000000011756&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2024-05-31","data":[{"name":"EWE
        Gasspeicher","code":"21X0000000011756","publication_link":"http:\/\/www.ewe-gasspeicher.de","transparency_template":"
        https:\/\/www.ewe-gasspeicher.de\/en\/legal-framework\/gse-transparency-template\/","url":"21X0000000011756\/DE","updatedAt":"2023-02-13
        19:33:59","gasDayStart":"2022-05-01","gasInStorage":"7.3171","injection":"138.11","withdrawal":"0","netWithdrawal":"-138.1","workingGasVolume":"18.2878","injectionCapacity":"246.36","withdrawalCapacity":"543.36","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"1.8","full":"40.01","info":[]}]}'
  recorded_at: 2025-03-29 19:06:05 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X000000001368W&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2025-03-27","data":[{"name":"Equinor
        Storage Deutschland","code":"21X000000001368W","publication_link":"https:\/\/www.equinorstorage.de","transparency_template":"","url":"21X000000001368W\/DE","updatedAt":"2022-05-02
        00:00:00","gasDayStart":"2022-05-01","gasInStorage":"2.0541","injection":"0","withdrawal":"0","netWithdrawal":"0","workingGasVolume":"2.1541","injectionCapacity":"210.67","withdrawalCapacity":"361.15","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.45","full":"95.36","info":[]}]}'
  recorded_at: 2025-03-29 19:06:05 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
