http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X000000001160J&facility=21Z000000000271O&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2024-05-31","data":[{"name":"UGS
        Rehden","code":"21Z000000000271O","url":"21Z000000000271O\/DE\/21X000000001160J","longitude":"8.4864","latitude":"52.6026","type":"DSR","updatedAt":"2022-05-02
        00:00:00","gasDayStart":"2022-05-01","gasInStorage":"0.2677","injection":"14.8","withdrawal":"1.7","netWithdrawal":"-13.1","workingGasVolume":"43.68","injectionCapacity":"344.76","withdrawalCapacity":"530.4","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.03","full":"0.61","info":[]}]}'
  recorded_at: 2025-03-29 19:06:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X000000001160J&facility=21W0000000001148&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2024-05-31","data":[{"name":"UGS
        Jemgum H (astora)","code":"21W0000000001148","url":"21W0000000001148\/DE\/21X000000001160J","longitude":"7.2819","latitude":"53.2841","type":"ASF","updatedAt":"2022-05-02
        00:00:00","gasDayStart":"2022-05-01","gasInStorage":"1.6079","injection":"41.98","withdrawal":"0","netWithdrawal":"-42","workingGasVolume":"8.125","injectionCapacity":"167.85","withdrawalCapacity":"209.25","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.52","full":"19.79","info":[]}]}'
  recorded_at: 2025-03-29 19:06:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X0000000011756&facility=21W0000000001075&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2025-03-27","data":[{"name":"UGS
        EWE-Zone L","code":"21W0000000001075","url":"21W0000000001075\/DE\/21X0000000011756","longitude":"7.3878","latitude":"53.2487","type":"ASF","updatedAt":"2023-02-13
        19:23:40","gasDayStart":"2022-05-01","gasInStorage":"2.9844","injection":"62.22","withdrawal":"0","netWithdrawal":"-62.2","workingGasVolume":"8.3516","injectionCapacity":"87.02","withdrawalCapacity":"282.24","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.74","full":"35.73","info":[]}]}'
  recorded_at: 2025-03-29 19:06:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X0000000011756&facility=21W000000000048W&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2025-03-27","data":[{"name":"UGS
        R\u00fcdersdorf H","code":"21W000000000048W","url":"21W000000000048W\/DE\/21X0000000011756","longitude":"13.8055","latitude":"52.4728","type":"ASF","updatedAt":"2023-02-13
        19:24:21","gasDayStart":"2022-05-01","gasInStorage":"0.3858","injection":"0.01","withdrawal":"0","netWithdrawal":"-0","workingGasVolume":"0.999","injectionCapacity":"10.66","withdrawalCapacity":"32.76","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0","full":"38.62","info":[]}]}'
  recorded_at: 2025-03-29 19:06:08 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
