http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&company=21X000000001160J&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2023-07-28","data":[{"name":"astora
        (Germany)","code":"21X000000001160J","publication_link":"http:\/\/www.astora.de","transparency_template":"https:\/\/www.astora.de\/en\/transparency-template","url":"21X000000001160J\/DE","gasDayStart":"2022-05-01","gasInStorage":"1.8757","injection":"56.78","withdrawal":"1.7","netWithdrawal":"-55.1","workingGasVolume":"51.805","injectionCapacity":"512.61","withdrawalCapacity":"739.65","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.11","full":"3.62","info":[]}]}'
  recorded_at: 2023-07-30 13:08:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&company=21X0000000011756&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2023-07-28","data":[{"name":"EWE
        Gasspeicher","code":"21X0000000011756","publication_link":"http:\/\/www.ewe-gasspeicher.de","transparency_template":"
        https:\/\/www.ewe-gasspeicher.de\/en\/legal-framework\/gse-transparency-template\/","url":"21X0000000011756\/DE","gasDayStart":"2022-05-01","gasInStorage":"7.3171","injection":"138.11","withdrawal":"0","netWithdrawal":"-138.1","workingGasVolume":"18.2878","injectionCapacity":"246.36","withdrawalCapacity":"543.36","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.76","full":"40.01","info":[]}]}'
  recorded_at: 2023-07-30 13:08:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
