http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X000000001160J&facility=21Z000000000271O&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2024-02-23","data":[{"name":"UGS
        Rehden","code":"21Z000000000271O","url":"21Z000000000271O\/DE\/21X000000001160J","longitude":"8.4864","latitude":"52.6026","type":"DSR","updatedAt":"2022-05-02
        00:00:00","gasDayStart":"2022-05-01","gasInStorage":"0.2677","injection":"14.8","withdrawal":"1.7","netWithdrawal":"-13.1","workingGasVolume":"43.68","injectionCapacity":"344.76","withdrawalCapacity":"530.4","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.03","full":"0.61","info":[]}]}'
  recorded_at: 2024-02-25 15:42:27 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&company=21X000000001160J&facility=21W0000000001148&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2024-02-23","data":[{"name":"UGS
        Jemgum H (astora)","code":"21W0000000001148","url":"21W0000000001148\/DE\/21X000000001160J","longitude":"7.2819","latitude":"53.2841","type":"ASF","updatedAt":"2022-05-02
        00:00:00","gasDayStart":"2022-05-01","gasInStorage":"1.6079","injection":"41.98","withdrawal":"0","netWithdrawal":"-42","workingGasVolume":"8.125","injectionCapacity":"167.85","withdrawalCapacity":"209.25","contractedCapacity":"-","availableCapacity":"-","status":"C","trend":"0.52","full":"19.79","info":[]}]}'
  recorded_at: 2024-02-25 15:42:27 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
