http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2022-05-24","data":[{"name":"Germany","code":"DE","url":"DE","gasDayStart":"2022-05-01","gasInStorage":"84.5138","consumption":"995.2735","consumptionFull":"8.49","injection":"1278.6","withdrawal":"5.1","workingGasVolume":"238.2891","injectionCapacity":"3936.52","withdrawalCapacity":"6738.01","status":"E","trend":"0.53","full":"35.47","info":[]}]}'
  recorded_at: 2022-05-26 16:09:28 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
