http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2023-07-28","data":[{"name":"Germany","code":"DE","url":"DE","gasDayStart":"2022-05-01","gasInStorage":"86.2235","consumption":"905.3031","consumptionFull":"9.52","injection":"1282.99","withdrawal":"7.7","netWithdrawal":"-1275.3","workingGasVolume":"241.8803","injectionCapacity":"4010.35","withdrawalCapacity":"6823.18","coveredCapacity":"-","status":"E","trend":"0.53","full":"35.65","info":[]}]}'
  recorded_at: 2023-07-30 13:08:45 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
