http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2022-07-07","data":[{"name":"Germany","code":"DE","url":"DE","gasDayStart":"2022-05-01","gasInStorage":"86.1916","consumption":"995.2735","consumptionFull":"8.66","injection":"1282.99","withdrawal":"5.1","workingGasVolume":"241.1921","injectionCapacity":"4015.43","withdrawalCapacity":"6833.48","status":"E","trend":"0.53","full":"35.74","info":[]}]}'
  recorded_at: 2022-07-09 12:03:54 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=AT&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2022-07-07","data":[{"name":"Austria","code":"AT","url":"AT","gasDayStart":"2022-05-01","gasInStorage":"18.5894","consumption":"98.0665","consumptionFull":"18.96","injection":"509.1","withdrawal":"0","workingGasVolume":"95.5024","injectionCapacity":"841.76","withdrawalCapacity":"1059.8","status":"C","trend":"0.53","full":"19.46","info":[]}]}'
  recorded_at: 2022-07-09 12:03:54 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
