http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&company=21X000000001160J&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2022-07-07","data":[{"name":"astora
        (Germany)","code":"21X000000001160J","url":"21X000000001160J\/DE","gasDayStart":"2022-05-01","gasInStorage":"1.8757","injection":"56.78","withdrawal":"1.7","workingGasVolume":"51.805","injectionCapacity":"512.61","withdrawalCapacity":"739.65","status":"C","trend":"0.11","full":"3.62","info":[]}]}'
  recorded_at: 2022-07-09 12:14:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
