http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&company=21X000000001160J&facility=21Z000000000271O&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2022-07-08","data":[{"name":"UGS
        Rehden","code":"21Z000000000271O","url":"21Z000000000271O\/DE\/21X000000001160J","gasDayStart":"2022-05-01","gasInStorage":"0.2677","injection":"14.8","withdrawal":"1.7","workingGasVolume":"43.68","injectionCapacity":"344.76","withdrawalCapacity":"530.4","status":"C","trend":"0.03","full":"0.61","info":[]}]}'
  recorded_at: 2022-07-10 08:16:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=DE&company=21X000000001160J&facility=21W0000000001148&page=1&date=2022-05-01&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2022-07-08","data":[{"name":"UGS
        Jemgum H (astora)","code":"21W0000000001148","url":"21W0000000001148\/DE\/21X000000001160J","gasDayStart":"2022-05-01","gasInStorage":"1.6079","injection":"41.98","withdrawal":"0","workingGasVolume":"8.125","injectionCapacity":"167.85","withdrawalCapacity":"209.25","status":"C","trend":"0.52","full":"19.79","info":[]}]}'
  recorded_at: 2022-07-10 08:16:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
