http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?country=AT&from=2022-02-01&to=2022-02-15&page=1&size=30
    body:
      encoding: ''
      string: ''
    headers:
      x-key: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":15,"dataset":"\u003Ca href=\u0022\/data-overview\/eu\u0022\u003EEU\u003C\/a\u003E
        \u003E AT","gas_day":"2024-02-13","data":[{"name":"Austria","code":"AT","url":"AT","updatedAt":"2022-11-25
        23:15:24","gasDayStart":"2022-02-15","gasInStorage":"17.6331","consumption":"91.0000","consumptionFull":"19.38","injection":"0.65","withdrawal":"465.8","netWithdrawal":"465.2","workingGasVolume":"95.5024","injectionCapacity":"841.76","withdrawalCapacity":"1059.8","contractedCapacity":"-","availableCapacity":"-","coveredCapacity":"-","status":"C","trend":"-0.49","full":"18.46","info":[]},{"name":"Austria","code":"AT","url":"AT","updatedAt":"2022-11-25
        23:15:24","gasDayStart":"2022-02-14","gasInStorage":"18.0983","consumption":"91.0000","consumptionFull":"19.89","injection":"0","withdrawal":"380.9","netWithdrawal":"380.9","workingGasVolume":"95.5024","injectionCapacity":"841.76","withdrawalCapacity":"1059.8","contractedCapacity":"-","availableCapacity":"-","coveredCapacity":"-","status":"C","trend":"-0.4","full":"18.95","info":[]},{"name":"Austria","code":"AT","url":"[...]
[...]
