http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api?page=1&size=30&country=DE&date=2022-05-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":1,"total":1,"dataset":"","gas_day":"2024-05-31","data":[{"name":"Germany","code":"DE","url":"DE","updatedAt":"2023-12-21
        01:48:09","gasDayStart":"2022-05-01","gasInStorage":"86.2235","consumption":"888.8300","consumptionFull":"9.7","injection":"1282.99","withdrawal":"7.7","netWithdrawal":"-1275.3","workingGasVolume":"241.8803","injectionCapacity":"4010.35","withdrawalCapacity":"6823.18","contractedCapacity":"-","availableCapacity":"-","coveredCapacity":"-","status":"E","trend":"0.61","full":"35.65","info":[]}]}'
  recorded_at: 2025-03-29 19:05:58 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
