http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api/unavailability?page=1&size=30&country=Germany&start=2024-01-01&end=2024-01-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":31,"total":30,"dataset":"Unavailability Reports","data":[{"published":"2024-06-02
        06:45:28","country":{"name":"France","code":"FR"},"company":{"name":"Storengy","eic":"21X000000001083B"},"facility":{"name":"VGS
        SEDIANE B (Gournay-sur-Aronde)","eic":"21W0000000000702"},"start":"2024-06-01
        06:00:00","end":"2024-06-02 06:00:00","volume":"0.000","injection":"100.0","withdrawal":"223.3","description":"N\/A","end_flag":"Confirmed","type":"Planned"},{"published":"2024-06-02
        06:45:28","country":{"name":"France","code":"FR"},"company":{"name":"Storengy","eic":"21X000000001083B"},"facility":{"name":"VGS
        SEDIANE (Saint-Illiers, Beynes Sup\u00e9rieur, Beynes Profond)","eic":"21W0000000000710"},"start":"2024-06-01
        06:00:00","end":"2024-06-02 06:00:00","volume":"0.000","injection":"6.9","withdrawal":"72.6","description":"N\/A","end_flag":"Confirmed","type":"Planned"},{"published":"2024-06-02
        06:45:28","co[...]
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api/unavailability?page=28&size=30&country=Germany&start=2024-01-01&end=2024-01-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: <<<GIE_APIKEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":31,"total":0,"dataset":"No data found","data":[]}'
  recorded_at: 2024-06-02 11:27:15 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
