http_interactions:
- request:
    method: get
    uri: https://agsi.gie.eu/api/unavailability?page=1&size=30&country=Germany&start=2024-01-01&end=2024-01-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":15,"total":30,"dataset":"Unavailability Reports","data":[{"published":"2024-02-25
        07:45:23","country":{"name":"France","code":"FR"},"company":{"name":"Storengy","eic":"21X000000001083B"},"facility":{"name":"VGS
        SERENE NORD (Trois Fontaines l\u2019Abbaye, Cerville, Germiny-sous-Coulombs,
        Saint-Clair-sur-Epte)","eic":"21W000000000073X"},"start":"2024-02-24 06:00:00","end":"2024-02-25
        06:00:00","volume":"0.000","injection":"86.8","withdrawal":"0.0","description":"N\/A","end_flag":"Confirmed","type":"Planned"},{"published":"2024-02-25
        07:45:23","country":{"name":"France","code":"FR"},"company":{"name":"Storengy","eic":"21X000000001083B"},"facility":{"name":"VGS
        SALINE (Tersanne, Etrez, Manosque)","eic":"21W000000000084S"},"start":"2024-02-24
        06:00:00","end":"2024-02-25 06:00:00","volume":"0.000","injection":"37.3","withdrawal":"0.0","description":"N\/A","end_flag":"Confirmed","type":"Planned"},{"published":"2024-02-24
        13:36:28","country":{"name":"Germany","co[...]
[...]
- request:
    method: get
    uri: https://agsi.gie.eu/api/unavailability?page=12&size=30&country=Germany&start=2024-01-01&end=2024-01-01
    body:
      encoding: ''
      string: ''
    headers:
      x-key: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"last_page":15,"total":0,"dataset":"No data found","data":[]}'
  recorded_at: 2024-02-25 15:42:39 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
